.card-img-top {
  max-width: 160px;
}

.card {
  min-height: 390px;
  background-color: #f0f0f0;
}

.form {
  margin: 1rem auto;
  padding: 1rem;
}

.results {
  padding: 1rem;
}

.card-outer {
  display: table;
  width: 100%;
}

.card-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.card-inner > h3 {
  margin-top: 20px;
}
