<div class="container">
  <h1 class="text-center">Find my food</h1>
  <p class="lead text-center">Selecteer het type eten waar je zin in hebt:</p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <a *ngFor="let cat of suggestedFoods" class="btn btn-sm btn-outline-secondary" href="#"
         (click)="toggleCategory(cat)">
        {{ cat }}
      </a>
    </div>
  </div>
  <hr>
  <p class="text-center">Of zoek zelf naar eten of een restaurant.</p>
  <form (submit)="onSubmit()" class="form input-group">
    <input class="form-control" name="preferences" [(ngModel)]="preferences">
    <input *ngIf="!geolocationPosition" class="form-control" name="location" [(ngModel)]="location">
    <button type="submit" class="btn btn-default">Zoeken</button>
  </form>

  <div *ngIf="loading">
    LOADING...
  </div>
  <div *ngIf="preferences !== undefined">
    <div class="d-flex justify-content-between align-items-center">
      <div *ngIf="preferencesIsArray()" class="btn-group">
        <a *ngFor="let cat of preferences" class="btn btn-sm btn-outline-secondary active" href="#"
           (click)="toggleCategory(cat)">
          {{ cat }}
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="post" class="results row">
    <div class="col-md-4" *ngFor="let business of post.businesses">
      <div class="card card-outer mb-4 box-shadow">
        <div class="card-inner">
          <h3 class="text-center">{{ business.name}}</h3>
          <a href="{{ business.url }}" target="_blank">
            <img class="card-img-top mx-auto d-block"
                 data-src="{{ business.image_url === '' ? 'http://via.placeholder.com/160x210' : business.image_url }}"
                 alt="{{ business.name }}">
          </a>
          <div class="card-body">
            <p class="card-text lead text-center"><a href="{{ business.url }}" target="_blank"> <span
              *ngFor="let addresspart of business.location.display_address"> {{ addresspart }}</span></a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a *ngFor="let cat of business.categories" class="btn btn-sm btn-outline-secondary" href="#"
                   (click)="onClick(cat.title)">
                  {{ cat.title }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="post && post.businesses.length === 0">Er zijn geen resultaten gevonden. Probeer een andere zoekopdracht.
  </div>
</div>
